.header {
    background-color: slateblue;
    padding: 10px;
    text-align: left;
  }

.footer {
    background-color: #F1F1F1;
    position:absolute;
    bottom: 0px;
    right: 25px;
    left: 50px;
    text-align: center;
    padding: 10px;
  }

body {
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
}

b {
    color: white;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }